<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.gnosis.kouban.settings">

    <application>
        <provider
            android:name=".di.SettingsContentProvider"
            android:authorities="${applicationId}.io.gnosis.kouban.settings.di.SettingsContentProvider"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
