<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.gnosis.kouban.safe_check">

    <application>

        <provider
            android:name="io.gnosis.kouban.safe_check.di.SafeCheckContentProvider"
            android:authorities="${applicationId}.io.gnosis.kouban.safe_check.di.SafeCheckContentProvider"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".ui.SafeCheckActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
